@import "bootstrap";
@import "../fonts/lato";

/*******************
  Project styles
  *******************/

$accent-color: 	#ff0078;
$dark-grey: 	#222222;
$off-white: 	#fefefe;
$light-grey: 	#b6b6b6;


html, body {
	min-height: 100%;
}
html {
	border-left: 5px solid $accent-color;
	transition: all 0.3s ease;
	@media (min-width: $screen-sm-min) {
		border-left-width: 70px;
	}
}
body {
	font-family: latoregular, "Helvetica Neue", Helvetica, sans-serif, Arial; 
	text-rendering: optimizeLegibility;
	font-size: 18px;
	line-height: 26px;
	color: $dark-grey;
	background-color: $off-white;
	padding: 60px 15px 100px 15px; 
	a {
		color: $accent-color;
	}
	a:hover {
		color: $accent-color;
	}

}

.logo {
	@media (min-width: $screen-sm-min) {		
		position: fixed;
		z-index: 10;
		margin: -51px 0 0 -81px;
		img {
			width: 60px;
			height: auto;
			-webkit-animation: spin 200s infinite ease-out;
		}
		img:hover {
			-webkit-animation: spin 1s 1 ease-out;	
		}
	}
}

@-webkit-keyframes spin {
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);}
}

.container {
	margin-left: inherit;
	margin-right: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: latoblack;
}

h1 {
	font-size: 34px;
	line-height: 34px;
	margin-top: 0px;
	margin-bottom: 40px;
	a {
		color: $dark-grey;
	}
	a:hover {
		color: $accent-color;
		text-decoration: none;
	}
}

header {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin-bottom: 125px;
	h1 {
		font-size: 16px;
		margin: 0;
		a {
			color: $dark-grey;
			//background-color: rgba(255,255,255,0.8);
			text-shadow: 
			0px 0px 20px rgba(255, 255, 255, 1),
			0px 0px 20px rgba(255, 255, 255, 1),
			0px 0px 20px rgba(255, 255, 255, 1),
			0px 0px 20px rgba(255, 255, 255, 1),
			0px 0px 20px rgba(255, 255, 255, 1);
		}
		a:hover {
			color: $accent-color;
			text-decoration: none;
		}
	}
	@media (min-width: $screen-sm-min) {
		position: fixed;
		z-index: 2;
	}
}

.articles {
	@media (min-width: $screen-sm-min) {
		margin-top: 136px;
	}
}

.tags-sidebar {
	a {
		color: $light-grey;
		padding: 3px 5px;
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 0.08em;
		line-height: 17px;
		margin: 0px 4px 4px 0px;
		float: left;
		transition: all 0.3s ease;
		&:hover {
			color: $off-white;
			background-color: $dark-grey;
			text-decoration: none;
		}
	}
}

br.clear {
	clear: both;
}

.spacer {
	border-top: 5px solid $dark-grey;
	margin-top: 5px;
	margin-bottom: 20px;
}

nav {
	margin-top: 4px;
	a {
		color: $light-grey;
		// font-family: latoblack;
	}
	a:hover {
		color: $accent-color;
		text-decoration: none;
	}
}

article {
	margin-bottom: 100px;
	position: relative;
	p {
		margin-bottom: 26px;
	}
	img {
		max-width: 100%;
		height: auto;
		margin-bottom: 26px;
	}
}

// Bootstrap pagination overrides

.pagination span.current {
	&:hover {
		background: transparent;
		color: $accent-color;
	}
}



